 :host {
   display: inline-block;
   position: relative;
   -webkit-font-smoothing: antialiased;
   -moz-font-smoothing: antialiased;
   -ms-font-smoothing: antialiased;
   -o-font-smoothing: antialiased;
   font-smoothing: antialiased;
   height: 80px;
   margin: 0; // padding: 0;
   width: 100%;
   bottom: 0px;
   box-sizing: border-box; //  button {
   //    position: relative;
   //    left: 45%;
   //    padding: 0.5rem 2rem;
   //    border: 0.2rem solid darkred;
   //    border-radius: 0.5rem;
   //    /* match default body styles */
   //    font-size: inherit;
   //    color: cornsilk;
   //    background-color: darkred;
   //  }
 }
