@import url('https://fonts.googleapis.com/css?family=Roboto');
:host {
  display: inline-block;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  width: 100%;
  top: 50%;
  form {
    width: 50%;
    display: block;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 66px;
    padding: 30px 45px;
    background: rgba(255, 255, 255, 0.4); //rgb(64, 64, 64)
    //ghostwhite
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    button {
      position: relative;
      display: block;
      width: 60%;
      min-width: 50px;
      padding: 0.5rem 2rem;
      border: 0.1rem solid #cccccc;
      cursor: not-allowed;
      font-size: inherit;
      color: cornsilk;
      top: 20px;
      margin: 0 auto;
      background-color: #cccccc;
    }
  }
  .inputEmail {
    position: relative;
    height: 88px;
    display: block;
  }
  .inputPassword {
    position: relative;
    height: 88px;
    top: 0px;
    display: block;
  }
  .buttonContainer {
    position: relative;
    height: 88px;
    justify-content: center;
    align-items: center;
    display: block;
    top: 0px;
  }
  .ng-valid {
    button {
      cursor: pointer;
      position: relative;
      display: block;
      width: 60%;
      min-width: 50px;
      padding: 0.5rem 2rem;
      border: 0.1rem solid rgb(56, 113, 179);
      font-size: inherit;
      color: cornsilk;
      background-color: rgb(56, 113, 179);
      top: 20px;
      margin: 0 auto;
    }
  }
  .emailMessage {
    position: relative;
    bottom: 27px;
    color: rgb(204, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    display: block;
  }
  .passMessage {
    position: relative;
    bottom: 22px;
    color: rgb(204, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    display: block;
  } // .disabled {
  //   background-color: #cccccc;
  // }
}
