@import url('https://fonts.googleapis.com/css?family=Roboto');
:host {
  display: inline-block;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  width: 100%; // top: 50%;
  height: 100%;
  form {
    position: fixed;
    width: 50%;
    display: block;
    max-width: 800px;
    min-height: 200px;
    margin: 0 auto;
    margin-top: 8%;
    margin-bottom: 66px;
    padding: 20px 80px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    left: 0px;
    right: 0px;
    button {
      position: relative;
      display: block;
      width: 60%;
      min-width: 50px;
      padding: 0.5rem 2rem;
      border: 0.1rem solid #cccccc;
      cursor: not-allowed;
      font-size: inherit;
      color: cornsilk;
      top: 20px;
      margin: 0 auto;
      background-color: #cccccc;
    }
  }
  .inputEmail {
    position: relative;
    height: 90px;
    display: block;
  }
  .inputPassword {
    position: relative;
    height: 88px;
    top: 0px;
    display: block;
  }
  .buttonContainer {
    position: relative;
    height: 88px;
    justify-content: center;
    align-items: center;
    display: block;
    top: 0px;
  }
  .ng-valid {
    button {
      cursor: pointer;
      position: relative;
      display: block;
      width: 60%;
      min-width: 50px;
      padding: 0.5rem 2rem;
      border: 0.1rem solid rgb(56, 113, 179);
      font-size: inherit;
      color: cornsilk;
      background-color: rgb(56, 113, 179);
      top: 20px;
      margin: 0 auto;
    }
  }
  .emailMessage {
    position: relative;
    bottom: 27px;
    color: rgb(204, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    display: block;
  }
  .passMessage {
    position: relative;
    bottom: 22px;
    color: rgb(204, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    display: block;
  }
}

section {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  position: relative; //top: 50%;
}

.login {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-image: url('src/assets/img/img1.jpg');
  background-position: center; // background-size: 100%;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
