@import url('https://fonts.googleapis.com/css?family=Roboto');
:host {
  display: inline-block;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  height: 80px;
  margin: 0;
  width: 100%;
  bottom: 0px;
  box-sizing: border-box;
  &:before {
    content: '';
    position: absolute;
    height: 1px;
    left: 0px;
    width: 100%;
    background-color: #BBC5CA;
    top: 65px;
  }
  input {
    position: relative;
    height: 24px;
    width: 100%;
    background-color: transparent;
    top: 19px;
    box-sizing: border-box;
    outline: none;
    border: none;
  }
  label {
    position: relative;
    top: 16px;
    font-family: 'Roboto', sans-serif;
    z-index: -1;
  }
}
