@import url('https://fonts.googleapis.com/css?family=Roboto');
:host {
  display: inline-block;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  height: 88px;
  margin: 0;
  width: 100%;
  bottom: 0px;
  box-sizing: border-box;
  display: inline-block;
  &:before {
    content: '';
    position: absolute;
    height: 1px;
    left: 0px;
    width: 100%;
    background-color: #BBC5CA;
    top: 54px;
  }
  input {
    position: relative;
    height: 18px;
    width: 100%;
    background-color: transparent;
    font-size: 14px;
    top: 10px;
    box-sizing: border-box;
    outline: none;
    border: none;
  }
  label {
    position: relative;
    top: 27px;
    font-family: 'Roboto', sans-serif;
    z-index: -1;
    color: #BBC5CA;
  }
  &.effect {
    label {
      color: rgb(39, 114, 204);
      font-size: 14px;
      top: 6px;
    }
    &:before {
      content: '';
      position: absolute;
      height: 2px;
      left: 0px;
      width: 100%;
      transform-origin: 50%;
      background-color: rgb(39, 114, 204);
    }
  }
  &.onBlur {
    &:before {
      content: '';
      position: absolute;
      height: 1px;
      left: 0px;
      width: 100%;
      background-color: #BBC5CA;
      top: 53px;
    }
  }
}
