<div>
  <app-input-email formControlName="email">
  </app-input-email>
</div>


<h2>Input Password</h2>

<div>
  <app-input-password [label]="'Contraseña'" formControlName="password1">
  </app-input-password>

  <!-- <bci-wk-input-password [label]="'Repite la contraseña'" formControlName="password2">
    <bci-form-msg>Las contraseñas deben ser iguales</bci-form-msg>
  </bci-wk-input-password>

  <bci-wk-input-password [label]="'Repite la contraseña'" formControlName="password3">
    <bci-form-msg>Las contraseñas deben ser iguales</bci-form-msg>
  </bci-wk-input-password> -->

  <button>Enviar</button>
  <div>
