@import url('https://fonts.googleapis.com/css?family=Lato');
:host {
  display: inline-block;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  .container {
    height: 500px;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 20px 80px;
    margin: 4%;
    padding: 0;
  }
  .messageWelcome {
    position: relative;
    width: 100%;
    height: 110px;
    bottom: 455px;
    color: antiquewhite;
    font-size: 60px;
    transition: all 2s;
    font-family: 'Lato', sans-serif;
    padding-right: 140px;
    text-align: center;
  }
  .messageWelcome:hover {
    font-size: 80px;
    color: orange;
  }
  img {
    position: relative;
    display: block;
    margin: auto;
    background-size: 100% auto;
    top: 130px;
  }
}

// html,
// body {
//   height: 100%;
// }
// body {
//   display: relative;
//   justify-content: center;
//   align-items: center;
//   background: #333;
//   font-family: 'Lato', sans-serif;
// }
//
