<section>
  <form [formGroup]="formLogin" (ngSubmit)="saveLogin()">

    <div>
      <app-input-email formControlName="email">
      </app-input-email>

      <div class="message" *ngIf="formLogin.controls['email'].errors?.required && (formLogin.controls['email'].dirty || formLogin.controls['email'].touched)">
        <p>Correo Requerido</p>
      </div>

      <div class="message" *ngIf="!formLogin.controls['email'].valid && (formLogin.controls['email'].dirty || formLogin.controls['email'].touched)">
        <p>Correo Inválido</p>
      </div>
    </div>

    <div>
      <app-input-password formControlName="password">
      </app-input-password>

      <div class="passMessage" *ngIf="formLogin.controls['password'].errors?.required && (formLogin.controls['password'].dirty || formLogin.controls['password'].touched)">
        <p>Password Requerido</p>
      </div>

      <div class="passMessage" *ngIf="formLogin.controls['password'].errors?.minlength">
        <p>Ingresar al menos 4 caracteres</p>
      </div>
    </div>

    <div class="buttonContainer">
      <button type="submit" [disabled]="formLogin.invalid"> Enviar </button>
    </div>

  </form>
</section>
