@import url('https://fonts.googleapis.com/css?family=Roboto');
:host {
  display: inline-block;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  height: 80px;
  margin: 0; // padding: 0;
  width: 100%;
  bottom: 0px;
  box-sizing: border-box;
  &:before {
    content: '';
    position: absolute;
    height: 1px;
    left: 0px;
    width: 100%;
    background-color: #BBC5CA;
    top: 55px;
  }
  &:hover {
    &:before {
      content: '';
      height: 2px; // background-color: rgb(0, 102, 204);
      -webkit-transition: .3;
      transition: .3s; // transform: translate(1px, 1px);
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  input {
    position: relative;
    height: 24px;
    width: 100%;
    background-color: transparent;
    top: 28px;
    box-sizing: border-box;
    outline: none;
    border: none;
    &:focus+label {
      transition: .3s;
      color: rgb(39, 114, 204);
      font-size: 12px;
      top: -10px;
    }
  }
  label {
    position: relative;
    top: 6px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    z-index: -1;
  }
}
